<div class="container justify-content-center mt-5">
  <div class="col-md-12 text-align-center text-center">
    <h1 class="text-center mb-5">Preencha as informações necessárias</h1>
    <label class="p-2">Nome</label>
    <input type="text" class="form-control mx-auto form-control-sm w-25" placeholder="Nome"/>
    <label class="p-2">Valor</label>
    <input type="value" class="form-control mx-auto form-control-sm  w-25 mt-1 mb-2" placeholder="250,00$"/>
    <label class="p-2">Descrição</label>
    <input type="textarea" class="mb-3 form-control mx-auto form-control-sm w-25" placeholder="Descrição"/>
    <button class="btn d-inline btn-dark btn-outline-light" routerLink="">Registrar</button>
  </div>
</div>
