.main-head{
  height: 150px;
  background: #272727;
}
.main {
  padding: 0px 10px;
}
.form-group {
  padding: 10px
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }
  .register-form{
      margin-top: 10%;
  }
}
@media screen and (min-width: 768px){
  .main{
      margin-left: 40%;
  }
  .login-form{
      margin-top: 80%;
  }
  .register-form{
      margin-top: 20%;
  }
}
.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}
