<div class="container-md-fluid w-100 d-flex mt-5">
  <div>
  <div class="row w-100">
    <h1 class="text-align-center mb-5"> Preencha as informações solicitadas</h1>
    <br>
    <label>Usuário</label>
    <input type="text" class="form-control mt-2" placeholder="Usuário" />
  </div>
  <br>
  <div class="row w-100">
    <label>Senha</label>
    <input type="password" class="form-control mt-2" placeholder="********"/>
  </div>
  <div class="row w-100 justify-content-center mt-5">
    <button class="btn btn-dark btn-outline-light w-25">Login</button>
    <br>
    <button class="btn btn-dark btn-outline-light w-25" routerLink="/register-screen">Registrar</button>
  </div>
</div>
</div>
