.sair {
  margin-left: 8vw;

}
a {
  border-radius: 10px;
  padding: 5px;
}
a:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 10px;
  transition: 1s;
  color: white;
}
