<div class="container-md-fluid">
  <div class="row mb-5 mt-5">
    <div class="row height justify-content-center mb-5">
      <div class="col-md-6">
        <div class="row form-group">
          <form [formGroup]="frm" (submit)="list()">
            <input type="text" class="form-control form-input" placeholder="Busque um produto..."
              formControlName="buscarPor" />
            <button type="submit" class="btn w-50 ms-5 btn-primary btn-dark mx-auto mt-3">Buscar</button>
            <a routerLink="/cadastra-produto" class="btn ms-5 w-50 btn-primary btn-dark mx-auto mt-3">Novo produto</a>
          </form>
        </div>
      </div>
    </div>
  </div>
<div
  *ngIf="produtos.length == 0"
  class="alert alert-primary mt-3 w-75 mx-auto"
  role="alert"
>
  Nenhum registro encontrado
</div>

<div
  *ngIf="produtos.length > 0"
  class="col-md-12 text-align-center w-75 mx-auto text-center"
>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">ID</th>
        <th scope="col">Valor</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produtos">
        <th scope="row">{{ p.id }}</th>
        <td>{{ p.nome }}</td>
        <td></td>
        <td>{{ p.valor }}</td>
        <td>
          <a
            [routerLink]="['/edita-produto', p.id]"
            class="btn btn-light btn-sm"
          >
            Editar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
