<div class="container-md-fluid">
  <div class="row mb-5 mt-5">
    <div class="row height justify-content-center align-items-center mb-5">
      <div class="col-md-6">
        <div class="row form-group">
          <form [formGroup]="frm" (submit)="list()">
            <input type="text" class="form-control form-input" placeholder="Busque um usuário..."
              formControlName="buscarPor" />
            <button type="submit" class="btn w-25 btn-primary btn-dark mx-auto mt-3">Buscar</button>
            <a routerLink="/register-screen" class="btn w-25 btn-primary btn-dark mx-auto mt-3">Novo usuário</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="usuarios.length==0" class="alert alert-primary mt-3 w-75 mx-auto" role="alert">
    Nenhum registro encontrado
  </div>

  <div *ngIf="usuarios.length>0" class="col-md-12 text-align-center w-75 mx-auto text-center">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usuarios">
          <th scope="row">{{u.nome}}</th>
          <td>{{u.email}}</td>
          <td>
            <a [routerLink]="[ '/edita-usuario', u.id ]" class="btn btn-light btn-sm">
              Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>