<div class="container justify-content-center mt-5">
  <div class="col-md-12 text-align-center text-center">
    <h1 class="text-center mb-5">Preencha as informações necessárias</h1>

    <label class="p-2">ID</label>
    <input type="number" class="form-control text-center mx-auto form-control-sm w-25" style="width: 100px !important" formControlName="id" placeholder="ID"/>

    <label class="p-2">Usuário</label>
    <input type="text" class="form-control mx-auto form-control-sm w-25" placeholder="Usuário"/>

    <label class="p-2">Senha</label>
    <input type="password" class="form-control mx-auto form-control-sm  w-25 mt-1 mb-2" placeholder="********"/>

    <label class="p-2">CPF</label>
    <input type="number" class="mb-3 form-control mx-auto form-control-sm w-25" placeholder="CPF"/>

    <button class="btn d-inline btn-dark btn-outline-light" routerLink="">Registrar</button>
  </div>
</div>
