<div class="container justify-content-center mt-5">
  <div class="col-md-12 text-align-center text-center">
    <h1 class="text-center mb-5">Informe o e-mail e senha</h1>

    <form [formGroup]="frm">
      <label class="p-2">Usuário</label>
      <input type="text" class="form-control" placeholder="Usuário" formControlName="email" />

      <label class="p-2">Senha</label>
      <input type="password" class="form-control mt-1 mb-2" placeholder="********" formControlName="senha" />

      <button class="btn d-inline btn-dark btn-outline-light" (click)="entrar()">Login</button>
      <button class="btn d-inline btn-dark btn-outline-light" routerLink="/register-screen">Registrar</button>
    </form>
  </div>
</div>